.aboutWrapper {
  width: 95%;
  margin: 0 auto;
}

.aboutSplash {
  background: url(./assets/hero_02.jpg);
  background-size: cover;
  margin-top: 20px;
}

.aboutHeading {
  margin: 0 auto;
  padding: 140px 0;
  text-align: center;

  img {
    width: 17%;
  }
}
